/* AccountPage.css */
.account-page {
  background-color: transparent; /* 배경색 제거 */
  color: black; /* 글씨 색상을 검은색으로 변경 */
  padding: 20px;
}

.header {
  text-align: center;
}

.summary, .investment, .monthly-summary {
  margin: 20px 0;
}

.summary-item {
  display: inline-block;
  width: 30%;
  text-align: center;
}


